@font-face {
    font-family: font-1;
    src: url(../fonts/pt-sans/PTS55F.ttf);
}

body{
    font-family: font-1;
    background-color: #F0F8FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-desktop{
    font-size: 44px;
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

.title-desktop{
    font-size: 44px;
    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

.tweakcontainer{
    padding: 0px 100px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 55%;
    width: 80%;
    border-radius: 5px;
}

.tweaks{
    padding: 150px;
    width: 80%;
    margin: 0px 0px;
}

.tweak{
    background: rgb(42,42,62);
    background: linear-gradient(45deg, rgba(42,42,62,1) 0%, rgba(107,112,143,1) 100%);
    transform: translate(-50%,-50%);
    left:50%;
    position: absolute;
    padding: 140px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 7px 7px 7px 0px rgb(189, 188, 188);
    color: white;
}

.tweak:hover{
    box-shadow: 12px 12px 12px 0px rgb(189, 188, 188);
}

#tweak1{
    left:20%;
}

#tweak2{
    left:50%;
}

#tweak3{
    left:80%;
}

.title-tweak{
    font-size:24px;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
}

.kind-tweak{
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
}

.version-tweak{
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
}

#title-tweak-1{
    top: 40%;
    left: 20%;
}

#kind-tweak-1{
    top:80%;
    left:14%;
}

#version-tweak-1{ 
    top: 80%;
    left: 25%;
}

#title-tweak-2{
    top: 40%;
    left: 50%;
}

#kind-tweak-2{
    top:80%;
    left:44%;
}

#version-tweak-2{ 
    top: 80%;
    left: 55%;
}

#title-tweak-3{
    top: 40%;
    left: 80%;
}

#kind-tweak-3{
    top:80%;
    left:74%;
}

#version-tweak-3{ 
    top: 80%;
    left: 85%;
}

.tweak-img{
    width: 110px;
    height: 110px;
    transform: translate(-50%,-50%);
    position: absolute;
    top:5%;
    border-radius: 8px;
}

#tweak-img-1{
    left:10%;
}

#tweak-img-2{
    left:40%;
}

#tweak-img-3{
    left:70%;
}

.cydia-button{
    transform: translate(-50%,-50%);
    left:50%;
    top:93%;
    position: absolute;
    padding: 25px 80px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background: rgb(42,42,62);
    box-shadow: 7px 7px 7px 0px rgb(189, 188, 188);
    background: linear-gradient(45deg, rgba(42,42,62,1) 0%, rgba(107,112,143,1) 100%);
}

.cydia-button:hover{
    
    box-shadow: 12px 12px 12px 0px rgb(189, 188, 188);
}

.footer-container{
    background: rgb(42,42,62);
    background: linear-gradient(45deg, rgba(42,42,62,1) 0%, rgba(107,112,143,1) 100%);
    height: 360px;
    width: 100%;
    transform: translate(-50%,-50%);
    left:50%;
    position: absolute;
    top: 130%;
    color: white;
}

.footer-social-media-banner{
    color: white;
    font-size: 28px;
    font-style: oblique;
    padding: 0px 0px 30px 0px;
}

.footer-social-media{
    margin: 0px 0px 0px 65px;
    width: 200px;
}

.footer-social-media a{
    margin: 25px 0px 30px 0px;
    display: block;
    text-decoration: none;
    color: white;
}

.footer-tweak{
    transform: translate(-50%,-50%);
    left: 45%;
    position: absolute;
    color: white;
    font-size: 16px;
    padding: 0px 0px 30px 0px;
    top: 50%;
}

.footer-tweak-banner{
    color: white;
    font-size: 28px;
    font-style: oblique;
    padding: 0px 0px 30px 0px;
}

.footer-tweak{
    margin: 0px 0px 0px 65px;
}

.footer-tweak a{
    margin: 25px 0px 30px 0px;
    display: block;
    color: white;
    text-decoration: none;
}

.footer-theme{
    transform: translate(-50%,-50%);
    left: 25%;
    position: absolute;
    color: white;
    font-size: 16px;
    padding: 0px 0px 30px 0px;
    top: 50%;
}

.footer-theme-banner{
    color: white;
    font-size: 28px;
    font-style: oblique;
    padding: 0px 0px 30px 0px;
}

.footer-theme{
    margin: 0px 0px 0px 65px;
}

.footer-theme a{
    margin: 25px 0px 30px 0px;
    display: block;
    color: white;
    text-decoration: none;
}

.cydia-icon{
    height: 300px;
    width: 300px;
    border-radius: 7px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 80%;
    position: absolute;
}

.clear{
    opacity: 0;
}